body {
    font-size: 10px;
    font-weight: 400;
    -ms-overflow-style: none;
}

::-webkit-scrollbar { 
  display: none; 
}

.pc-only {
    display: none;
}

/* 헤더 */

.gnb-toggle-box {
    display: none;
}

.gnb-toggle-box.on {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 98;
}

#main-header {
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    position: fixed;
    z-index: 99;
}

.toggle-btn {
    background-color: transparent;
    border: none;
}

.toggle-btn img {
    display: block;
}

#gnb {
    display: none;
}

#gnb.on {
    display: block;
    width: 100%;
    height: 320px;
    background-color: var(--sub-color1);
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 10px;
    padding-left: 35px;
    font-size: 12px;
}

#gnb ul {
    margin-top: 30px;
}

#gnb li {
    height: 35px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#gnb li a {
    padding: 10px;
}

.gnb-close-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.close-btn {
    background-color: transparent;
    border: none;
}

.close-btn img {
    display: block;
}

#main-content {
    width: 100%;
    height: 100vh;
}

.top-btn {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 2px solid #333;
  border-radius: 50%;
  z-index: 200;
  cursor: pointer;
}

.top-btn img{
  width: 100%;
}


/* 메인컨텐츠 */

.main-content {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.main-content-text .portfolio-text{
    text-align: center;
    color: #fff;
    font-size: 34px;
    letter-spacing: 2px;
    font-weight: 500;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text .portfolio-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
.main-content-text .portfolio-text:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

.main-content-text1 {
    margin-top: 30px;
}

.main-content-text1 .job-text{
    text-align: center;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text1 .job-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}
  
.main-content-text1 .job-text:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

.main-content-text2 {
    margin-top: 20px;
}

.main-content-text2 .name-text{
    text-align: center;
    color: #fff;
    font-size: 12px;
    letter-spacing: 8px;
    font-weight: 500;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text2 .name-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}
  
.main-content-text2 .name-text:nth-child(3) {

    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}
  
/*Keyframes*/
@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

@keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}

 @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}



/* about */

#about {    
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    padding-top: 60px;
    padding-bottom: 20px;
    color: var(--main-color);
    text-align: center;
    font-family: 'Hahmlet', serif;
}

.about-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.myphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.myphoto-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../images/my-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

.myphoto-info {
  text-align: left;
}

.about-body {
    width: 100%;
    color: var(--sub-color1);
    margin-bottom: 80px;
}
  
.about-info {
    width: 310px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 20px;
}
  
.about-info:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.about-title > h1 {  
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--sub-color1);
}
  
.about-detail {
    width: 280px;
    height: 120px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-detail span{
    font-weight: 500;
}


/* skills */

#skills {    
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .skills-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--sub-color1);
    margin-bottom: 80px;
  }
  
  .skills-grid-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    border-left: 1px solid var(--sub-color1);
    padding: 5px;
    padding-left: 20px;
  }
  
  .skills-line-box {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .skills-line {
    width: 200px;
    height: 3px;
    background-color: var(--sub-color1);
    margin-right: 20px;
    position: relative;
    overflow: hidden;
  }
  
  .skills-line2 {
    width: 180px;
    height: 3px;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
  }
  
  .skills-line3 {
    width: 120px;
    height: 3px;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
  }


/* portfolio */

#portfolio {    
  background-color: var(--sub-color1);
  width: 100%;
  display: flex;
  justify-content: center;
}

.portfolio-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
}

.portfolio-list-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-list-btn-box > button {
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: var(--main-color);
    color: var(--sub-color1);    
    padding: 5px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.portfolio-grid {
    width: 100%;
    height: 600px;
    display: grid;    
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.portfolio-grid-item {
    width: 140px;
    height: 140px;
    background-color: var(--main-color);
    color: var(--sub-color1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-grid-item-img a {
    color: var(--sub-color1);
}

.portfolio-grid-item-img img {
  width: 90%;
}

.phone-img {
  height: 100px;
}


/* contact */

#contact {    
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  position: relative;
}

#contact .container {
    width: 100%;
}

.contact-box {
    width: 100%;
    height: 86vh;
    background-color: var(--sub-color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-box h1 {
  font-size: 20px;
}

.contact-box p {
  font-size: 10px;
}

.closing {
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.sns-box a img {
  width: 20px;
  height: 20px;
}

.sns-box a:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  background-color: var(--main-color);
  color: var(--sub-color1);
  font-size: 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* 포트폴리오 상세 */

#portfolio-info {
  width: 100%;
}

#portfolio-info .content .container {
  background-color: #fff;
}

.portfolio-work-process {
  width: 100%;
  margin-top: 20px;
}

.portfolio-work-process-title {
  width: 100%;
  height: 50px;
  border-top: 3px solid var(--main-color);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portfolio-work-process-title h1 {
  text-align: center;
}

.portfolio-work-process-title button {
  position: absolute;
  right: 20px;
}

.site-view {
  padding: 5px;
  border: none;
}

.site-view > a {
  color: var(--sub-color1);
}

.writing {
  padding-top: 20px;
}

.writing table {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.writing th {
  vertical-align: top;
  width: 100px;
  padding: 5px;
}

.writing td {
  padding: 5px;
}

.portfolio-color {
  display: flex;
}

.color-circle {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.color-circle:first-child {
  margin-left: 0;
}

.color-circle:last-child {
  margin-right: 0;
}

.work-intro-box {
  width: 100%;
  margin-top: 10px;
}

.work-intro-title {  
  width: 100%;
  height: 30px;
  color: var(--sub-color1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-info-img {
  width: 100%;
}

.work-info-img > img {
  width: 100%;
}

.portfolio-end-box {
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
}


/* 준비화면 */
.splash-screen.on {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #333;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-screen {
  display: none;
}

.loader9:before{
  content: "";
  position: absolute;
  top: 0px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loader9g 3s ease-in-out infinite;
      animation: loader9g 3s ease-in-out infinite;
}

.loader9{
  position: relative;
  width: 12px;
  height: 12px;
  top: 46%;
  left: 46%;
  border-radius: 12px;
  background-color: #fff;
}

.loader9:after{
  content: "";
  position: absolute;
  top: 0px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loader9d 3s ease-in-out infinite;
      animation: loader9d 3s ease-in-out infinite;
}

@-webkit-keyframes loader9g{
  0%{ left: -25px; background-color: rgba(255, 255, 255, .8); }
  50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
  100%{ left:-25px; background-color: rgba(255, 255, 255, .8); }
}
@keyframes loader9g{
  0%{ left: -25px; background-color: rgba(255, 255, 255, .8); }
  50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
  100%{ left:-25px; background-color: rgba(255, 255, 255, .8); }
}


@-webkit-keyframes loader9d{
  0%{ left: 25px; background-color: rgba(255, 255, 255, .8); }
  50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
  100%{ left:25px; background-color: rgba(255, 255, 255, .8); }
}
@keyframes loader9d{
  0%{ left: 25px; background-color: rgba(255, 255, 255, .8); }
  50%{ left: 0px; background-color: rgba(255, 255, 255, .1);}
  100%{ left:25px; background-color: rgba(255, 255, 255, .8); }
}

/* 디자인 툴 작업물*/
#works {
  margin-top: 20px;
}

#works .container {
  width: 90%;
  margin: 0 auto;
}

#works .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#works .col {
  width: 32%;
  aspect-ratio: 4/3;
  /* outline: 1px solid red; */
  box-shadow: 2px 4px 8px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

#works .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}