
body {
    font-size: 14px;
    font-weight: 400;
}

.mobile-only {
  display: none;
}

/* 헤더 */

#main-header {
    width: 100%;
    height: 60px;
    background-color: var(--main-color);
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

#main-header #gnb ul {
    display: flex;
}

.button-container {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #333;
    font-weight: 400;
    transition: 0.5s;
    border-radius: 8px;
}

.button-container button {
    width: 101%;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #333;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

.button-container button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.mas {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 101%;
    font-weight: 400;
    position: absolute;
    font-size: 14px;
    margin-top: 13px;
    overflow: hidden;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

/* 메인컨텐츠 */

.main-content {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.main-content-text .portfolio-text{
    text-align: center;
    color: #fff;
    font-size: 140px;
    letter-spacing: 8px;
    font-weight: 500;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text .portfolio-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
.main-content-text .portfolio-text:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

.main-content-text1 {
    margin-top: 120px;
}

.main-content-text1 .job-text{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text1 .job-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}
  
.main-content-text1 .job-text:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

.main-content-text2 {
    margin-top: 80px;
}

.main-content-text2 .name-text{
    text-align: center;
    color: #fff;
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: 500;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text2 .name-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}
  
.main-content-text2 .name-text:nth-child(3) {

    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}
  
/*Keyframes*/
@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

@keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}

 @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}


/* about */

#about {    
    background-color: var(--bg-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    padding-top: 60px;
    padding-bottom: 40px;
    color: var(--main-color);
    text-align: center;
    font-family: 'Hahmlet', serif;
}

.about-box {
    width: 1200px;
    height: 550px;  
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.myphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
}

.myphoto-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(../images/my-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

.myphoto-info {
  text-align: left;
}

.about-body {
  width: 520px;
  color: var(--sub-color1);
}

.about-info {
  width: 550px;
  height: 140px;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 30px;
  padding: 10px;
}

.about-info:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-title {
  width: 120px;
}

.about-title > h1 {  
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: var(--sub-color1);
}

.about-detail span{
  font-weight: 500;
}

/* skills */

#skills {    
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-box {
  width: 1200px;
  height: 550px;  
  border: 1px solid var(--sub-color1);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 33.3% 33.3% 33.3%;
  grid-template-columns: 50% 50%;
  padding: 20px;
  color: var(--sub-color1);
}

.skills-grid-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.skills-line-box {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

.skills-line {
  width: 300px;
  height: 6px;
  background-color: var(--sub-color1);
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

.skills-line2 {
  width: 270px;
  height: 6px;
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
}

.skills-line3 {
  width: 210px;
  height: 6px;
  background: #fc00ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
}

/* portfolio */

#portfolio {    
  background-color: var(--sub-color1);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-box {
  width: 1200px;
  height: 550px;  
  border: 1px solid var(--main-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portfolio-list-btn-box {
  width: 220px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.portfolio-list-btn-box > button {
  padding: 10px;
  height: 40px;
  background-color: var(--main-color);
  color: var(--sub-color1);
  border: none;
  cursor: pointer;
}

.portfolio-grid {
  width: 800px;
  height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 30px;
}

.portfolio-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-grid-item-img {
  width: 200px;
  height: 200px;
  background-color: var(--main-color);  
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.portfolio-grid-item-img > a {
  color: var(--sub-color1);
}

.portfolio-grid-item-info {
  position: absolute;
  transform: scale(0.1);
  opacity: 0;
}

.portfolio-grid-item:hover .portfolio-grid-item-info{  
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: var(--main-color);
  transition: 1s;
  transform: scale(1);
  opacity: 1;
}

.portfolio-grid-item-info a {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--sub-color1);
}

/* contact */

#contact {    
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  position: relative;
}

.contact-box {
  width: 1200px;
  height: 550px;  
  background-color: var(--sub-color1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-box h1 {
  font-size: 30px;
}

.contact-box p {
  font-size: 14px;
}

.closing {
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 20px;
}

.sns-box a img {
  width: 30px;
  height: 30px;
}

.sns-box a:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  color: var(--sub-color1);
  font-size: 8px;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

/* 포트폴리오 상세 */

#portfolio-info {
  width: 1440px;
  margin: 0 auto;
}

.portfolio-work-process {
  width: 1440px;
  background-color: var(--sub-color1);
  margin-top: 20px;
}

.portfolio-work-process-title {
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;  
  border-top: 5px solid var(--main-color);
  border-bottom: 1px solid #ccc;
}

.portfolio-list {
  background-color: var(--main-color);
  color: var(--sub-color1);
}

.portfolio-list a {
  color: var(--sub-color1);
}

.site-view {
  padding: 5px;
  border: none;
}

.site-view > a {
  color: var(--sub-color1);
}

.writing {
  padding-top: 50px;
  background-color: var(--sub-color1);
}

.writing table {
  text-align: left;
  margin-left: 50px;
}

.writing th {
  vertical-align: top;
  width: 150px;
  padding: 5px;
}

.writing td {
  padding: 5px;
}

.portfolio-color {
  display: flex;
}

.color-circle {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.color-circle:first-child {
  margin-left: 0;
}

.color-circle:last-child {
  margin-right: 0;
}

.work-intro-box {
  width: 1440px;
  margin-top: 20px;
}

.work-intro-title {  
  width: 1440px;
  height: 40px;
  color: var(--sub-color1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.portfolio-end-box {
  width: 1440px;
  height: 40px;
  background-color: var(--main-color);
}