
body {
    font-size: 16px;
    font-weight: 400;
}

button {
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* 헤더 */

#main-header {
    width: 100%;
    height: 80px;
    background-color: var(--main-color);
    display: flex;
    justify-content: end;
    align-items: center;
}

#main-header #gnb ul {
    display: flex;
}

.button-container {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #333;
    font-weight: 400;
    transition: 0.5s;
    border-radius: 8px;
}

.button-container button {
    width: 101%;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #333;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

.button-container button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.mas {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 101%;
    font-weight: 400;
    position: absolute;
    font-size: 14px;
    margin-top: 13px;
    overflow: hidden;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

/* 메인컨텐츠 */

.main-content {
    width: 100%;
    height: calc(100vh - 140px);
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.main-content-text .portfolio-text{
    text-align: center;
    color: #fff;
    font-size: 160px;
    letter-spacing: 8px;
    font-weight: 400;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text .portfolio-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
  }
  
.main-content-text .portfolio-text:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

.main-content-text1 {
    margin-top: 120px;
}

.main-content-text1 .job-text{
    text-align: center;
    color: #fff;
    font-size: 46px;
    font-weight: 400;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text1 .job-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}
  
.main-content-text1 .job-text:nth-child(3) {
    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}

.main-content-text2 {
    margin-top: 80px;
}

.main-content-text2 .name-text{
    text-align: center;
    color: #fff;
    font-size: 46px;
    letter-spacing: 8px;
    font-weight: 400;
    /*Create overlap*/
    margin: 0;
    line-height: 0;
    /*Animation*/
    animation: glitch1 2.5s infinite;
}
  
.main-content-text2 .name-text:nth-child(2) {
    color: #67f3da;
    animation: glitch2 2.5s infinite;
}
  
.main-content-text2 .name-text:nth-child(3) {

    color: #f16f6f;
    animation: glitch3 2.5s infinite;
}
  
/*Keyframes*/
@keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

@keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}

 @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
}

 /* 푸터 */

footer {
    width: 100%;
    height: 60px;
    background-color: #333;
    display: flex;
    justify-content: start;
    align-items: center;
}

footer p {
    margin-left: 20px;
    font-size: 10px;
    font-weight: 400;
    color: var(--sub-color1);
}

/* about */

#about {    
    background-color: var(--bg-color);
}

.content {
    width: 1440px;
    margin: 0 auto;
}

.title {
    width: 1440px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-box {
    width: 300px;
    height: 40px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-box p {
    font-size: 30px;
    font-weight: 500;
    color: var(--sub-color1);
}

.title .title-line {
    width: 1140px;
    height: 1px;
    background: rgba(51, 51, 51, 0.5);
}

.about-box {
    width: 1440;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
}

.myphoto{
    width: 480px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 30px 0 0 30px;
    border: 1px solid #333;
}

.myphoto-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url(../images/my-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

.about-me {
    width: 620px;
    height: 560px;
    padding: 20px;
    padding-left: 40px;
    color: var(--sub-color1);
    background: var(--main-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 30px 30px 0;
}

.about-me ul {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.about-me ul li {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
    margin-left: 20px;
}

.about-me > ul > li > span {
    font-weight: 700;
    color: rgba(225, 225, 225, 0.9);
}

/* skills */

.skills-box {
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-bottom: 80px;
}

.skills-items {
    width: 300px;
    height: 300px;
    background-color: var(--main-color);
    color: var(--sub-color1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
}

.skills-items > img {
    width: 300px;
    height: 300px;
    z-index: 10;
}

.skills-items:hover > img {
    transform: scale(0%);
    transition: 1s;
}

.skills-items:hover .skills-items-text {
    width: 300px;
    height: 300px;
    opacity: 1;
    transition: 1s;
}

.skills-items .skills-items-text {
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    opacity: 0;
    display: block;
    margin-top: -305px;
}

/* portfolio */

#Portfolio {
  background-color: var(--bg-color);
}

.portfolio-grid {
  width: 1440px;
  height: 560px;
  margin-bottom: 57px;
  background-color: var(--sub-color1);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 220px 220px 220px 220px; 
  grid-template-rows: 220px 220px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 45px;
}

.portfolio-grid-item {
  width: 220px;
  height: 220px;
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--sub-color1);
  overflow: hidden;
  border-radius: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.portfolio-grid-item-img {
  width: 220px;
  height: 220px;
  position: absolute;
}

.portfolio-grid-item-info {  
  display: none;
  background-color: #8B9FE4;
  width: 220px;
  height: 220px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0%);
}

.portfolio-grid-item-info > a {
  color: var(--sub-color1);
}

.portfolio-grid-item-info > p {
  line-height: 35px;
}

.portfolio-grid-item-info > a span {
  font-weight: 700;
}

.portfolio-grid-item:hover .portfolio-grid-item-info{
  display: block;
  background-color: #8B9FE4;
  width: 220px;
  height: 220px;
  border-radius: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  transform: scale(100%);
}

/* 포트폴리오 상세 */

.portfolio-work-process {
  width: 1440px;
  background-color: var(--sub-color1);
}

.portfolio-work-process-title {
  width: 1440px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;  
  border-top: 5px solid var(--main-color);
  border-bottom: 1px solid #ccc;
}

.portfolio-list {
  background-color: var(--main-color);
  color: var(--sub-color1);
}

.portfolio-list a {
  color: var(--sub-color1);
}

.site-view-chonbang {
  background-color: #F9941E;
}

.site-view-chonbang > a {
  color: var(--sub-color1);
}

.writing {
  padding-top: 50px;
  background-color: var(--sub-color1);
}

.writing table {
  text-align: left;
  margin-left: 50px;
}

.writing th {
  vertical-align: top;
  width: 150px;
  padding: 5px;
}

.writing td {
  padding: 5px;
}

.portfolio-color {
  display: flex;
}

.color-circle {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.color-circle:first-child {
  margin-left: 0;
}

.color-circle:last-child {
  margin-right: 0;
}

.design-box {
  width: 1440px;
  margin-top: 20px;
}

.design-box-title {  
  width: 1440px;
  height: 70px;
  background-color: #F9941E;
  color: var(--sub-color1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-after-box {
  display: flex;
  font-size: 18px;
}

.before {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ccc;
  padding-bottom: 50px;
}

.before p {
  margin-top: 20px;
}

.after {
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.after p {
  margin-top: 20px;
}

.portfolio-end-box {
  width: 1440px;
  height: 40px;
  background-color: var(--main-color);
}

.list-btn-bottom {
  background-color: var(--main-color);
  margin-top: 20px;
  margin-bottom: 50px;
}

.list-btn-bottom a {
  color: var(--sub-color1);
}

.list-btn-bottom-box {
  width: 1440px;
  padding-right: 20px;
  display: flex;
  justify-content: end;
}